*{
    margin: 2px;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lista-menu{
    display: none;
}

h1,h2{
    text-align: center;
}

h4,h3{
    text-align: center;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

#btn-hamburguesa{
    width: 80%;
}

footer{
    background-color: black;
    color: antiquewhite;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: antiquewhite;
}

.container-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-video{
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
}

iframe{
    width: 80%;
    height: auto;
}

@media(min-width:555px){

    #lista-menu{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
    #btn-hamburguesa{
        display: none;
    }

    .container-redes{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(min-width:800px){
    #cuerpo{
        display: flex;
        flex-direction: row;
    }

    .container-info{
        width: 60%;
        padding: 20px;
    }
    .container-ultimas-incorporaciones{
        width: 40%;
        padding: 20px;
        background-color:rgb(179, 179, 179);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}