body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: black;
    color: antiquewhite;
}

footer{
    background-color: black;
    color: antiquewhite;
}

footer a{
    text-decoration: none;
    color: antiquewhite;
}

@media(min-width:400px){

}